<header>
  <h1>Welcome to Bikeways!</h1>
  <h2 class="head-h2">Let's make Biking Safer.&nbsp;&nbsp;&nbsp;&nbsp;Together!</h2>
</header>
<h2>A Crowd-Sourced Cycling Map for Safe Routing and Bike-Centric Social Engagement Application</h2>
<h2 class="declare">COMING SOON!</h2>
