// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

$font: 'Roboto Condensed', sans-serif;
$back-color: #efefef;
$head-color: #DCDFDD;

body {
  background: $back-color;
}

h1 {
  font-family: $font;
  font-weight: 300;
  font-size: 5.5em;
  text-align: center;
  margin: 0 auto;
  padding-top: 230px;
  color: $head-color;
  text-shadow: 1px 1px 8px #0f0f0f;
}

.head-h2 {
  font-family: $font;
  font-weight: 300;
  font-size: 1.75em;
  color: $head-color;
  margin: 0 auto;
  text-shadow: 1px 1px 8px #0f0f0f;
  text-align: center;
}

h2 {
  font-family: $font;
  font-weight: 300;
  text-align: center;
}

.declare {
  font-family: $font;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}

header {
  background-image: url(asset_path('header_img.jpg'));
  width: auto;
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
