<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
    </head>
    <body>
      <h1>Welcome to Bikeways.io, <%= @user.name %></h1>
      <p>
        You have succesfully signed up to be a part of the Bikeways project,
        your username is: <%= @user.email %>. <br>
      </p>
      <p>
        To login to the site, just follow this link: <%= @url %>
      </p>
      <p>
        The team at Bikeways is excited to have you join our community, we are working hard on the application content at this time.
        We cannot wait to have the site fully functioning so that we can all help build a safer biking community for everyone, no matter how they like to ride.
      </p>
      <p>
        We appreciate your patience while construct the application, and look forward to your input and insights to continually improve Bikways.io.
      </p>
      <h5>
        Happy Riding,
      </h5>
      <h5>
        The Bikeways Team
      </h5>
    </body>
  </html>
